
#body{
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Metamorphous', cursive;
    background-color: burlywood;
    /*background-image: url(https://previews.123rf.com/images/lorasutyagina/lorasutyagina1604/lorasutyagina160400091/54940369-los-granos-de-caf%C3%A9-ilustraci%C3%B3n-sin-fin-broun-colores-c%C3%A1lidos-para-fondo-de-pantalla-fondo-p%C3%A1gina-web.jpg);
*/
}

#body_index{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

/*index*/
.navegacion{

    display: grid;
    font-size: 1.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 50px;
    
}
/**/
/*#plantilla{

    position: absolute;
    opacity: 0.3;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: repeat;
}*/

/*cada item de la barra de nav*/
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
/**/
.div_redes{
    background-color: transparent;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    background-color: khaki;

}
/*imagen principal*/
.imagen{

    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 3px;
    opacity: 0.9;
}
/*los iconos de las redes sociales*/
.imagen_redes{

    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    
    
}
/*titulo*/
h1{
    font-size: 3.8rem;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 8px black;
    


}

/*bajada*/
.bajada_main{

    margin: 40px;
    text-align: center;

}


.slogan{

    font-weight: bold;
    font-size: 20rem;
}


/**/
section{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}


h2{

    font-size: 20px;
    font-weight: bold;
}


li{

    display: block;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    top: 10px;
    list-style: none;
    margin-bottom: 14px;
}   

/*Sobre nosotros*/

.subDeSN{

    font-size: 10rem;
    background-color: aliceblue;
    font-style: italic;
}


h2{

    font-size: 3rem;
}

/*p{

    font-size: 1;
    color: black solid;
    background-color: rgb(253, 235, 194);

}*/

.subtitulos{

    background-color: bisque;

}


@media (min-width: 768px) {

#body_index{

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}



.imagen{

    display: flex;
}

.navegacion{


    grid-template-columns: 1fr 1fr 1fr;
}

h1{
    font-size: 3.6rem;
    color: antiquewhite;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px black;
    align-items: center;
    justify-content: center;
    

}


.navegacion{
    display: flex;
    text-align: center;
    justify-content: center;
    position: sticky;
    top: 20px;
    margin-top: 20px;
    background-color: khaki;
    font-style: italic;
}


.imagen{
    width: 100%;
    height: 500px;

}



li{

            display: inline-block;
            margin-left: 20px;
            top: 10px;
            list-style: none;
}   




section{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        margin-top: 40px;
        margin-bottom: 40px;

}
}